<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nasa Assignment</title>
    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

  </head>


  <body style="background-color:maroon;">

    <center>
    <h1>NASA Astronomy Picture of the Day</h1>
    </center>

    <img src={{imageurl}}><img>

    <center>
      <font size="6">
    <p> Everyday a new Astronomy picture will be featured from NASA </p>
      </font>
    </center>


  </body>
</html>
